.hl_main
	{
	font-family: monospace;
	border: 1px dashed #666;
	background: #f3f6f9;
	color #000;
	line-height: 2em;
	}

.hl_nums
	{
	float: left;
	margin: 0 1em 0 0;
	border-right: 1px solid #999;
	font-weight: bold;
	white-space: normal;
	}

.hl_code
	{
	margin: 0;
	padding: 0;
	white-space: normal;
	}

.hl_line
	{
	display: block;
	white-space: pre;
	height: 2em;
	vertical-align: bottom;
	padding: 0 1em;
	}

.hl_dummy
	{
	display: block;
	height: 0;
	padding: 0.5em 0;
	}

.hl_zebra > .hl_code > .hl_line:nth-child(odd) {background: #f3f6fc;}
.hl_zebra > .hl_code > .hl_line:nth-child(even) {background: #f9f9f9;}

.hl_kwd	{color: #0000ff; font-weight: bold;}
.hl_typ	{color: #008000;}
.hl_uty	{color: #008080;}
.hl_str	{color: #ff0000;}
.hl_rex	{color: #ffa500;}
.hl_sch	{color: #ffc0cb;}
.hl_com	{color: #a52a2a; font-style: italic;}
.hl_num	{color: #800080;}
.hl_pre	{color: #000080; font-weight: bold;}
.hl_sym	{color: #800000; font-weight: bold;}
.hl_fun	{color: #000000; font-weight: bold;}
.hl_brk	{color: #ff0000;}
.hl_tdo	{color: #00ffff; font-weight: bold;}

