.hl_main
	{
	font-family: monospace;
	border: 1px dashed #666;
	background: #f3f6f9;
	color #000;
	}

.hl_nums
	{
	float: left;
	margin: 0 1em 0 0;
	border-right: 1px solid #999;
	font-weight: bold;
	white-space: normal;
	}

.hl_code
	{
	margin: 0;
	padding: 0;
	white-space: normal;
	}

.hl_line
	{
	display: block;
	white-space: pre;
	padding: 0.2em 1em;
	}

.hl_dummy
	{
	display: block;
	height: 0;
	padding: 0.5em 0;
	}

.hl_zebra > .hl_code > .hl_line:nth-child(odd) {background: #f3f6fc;}
.hl_zebra > .hl_code > .hl_line:nth-child(even) {background: #f9f9f9;}

.hl_num		{color: #606; font-weight: bold;}
.hl_esc		{color: #f06; font-weight: bold;}
.hl_str		{color: #c33;}
.hl_dstr	{color: #0ff;}
.hl_slc		{color: #669; font-style: italic;}
.hl_com		{color: #669; font-style: italic;}
.hl_dir		{color: #600;}
.hl_sym		{color: #060;}
.hl_kwa		{color: #960; font-weight: bold;}
.hl_kwb		{color: #006;}
.hl_kwc		{color: #03c;}
.hl_kwd		{color: #090; font-weight: bold;}

